<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquatic.schedule.dao.TriggerMapper">
    <select id="queryTriggers" parameterType="com.aquatic.schedule.bean.Page" resultType="com.aquatic.schedule.bean.TriggerBean">
        SELECT
        TRIGGER_NAME as triggerName,
        TRIGGER_GROUP as triggerGroup,
        JOB_NAME as jobName,
        JOB_GROUP as jobGroup,
        DESCRIPTION as description,
        NEXT_FIRE_TIME as nexFireTime,
        PREV_FIRE_TIME as prevFireTime,
        PRIORITY as priority,
        TRIGGER_STATE as triggerState,
        TRIGGER_TYPE as triggerType,
        START_TIME as startTime,
        END_TIME as endTime,
        JOB_DATA as jobData
        FROM qrtz_triggers
        LIMIT #{start}, #{pageSize}
    </select>
</mapper>